/* CSS rules for prototype bike-ped count input app */

* {
	font-family:"Trebuchet MS","sans-serif";
}

.control_div {
	margin-bottom: 10px;
}

.control_div .street_name {
	width: 200px;
}



.align-right {
	text-align: right;
}

.grid-table {
	border-collapse: collapse;
	border-spacing: 0;
}

.grid-row>.grid-cell {
	background: #fff;
}

.header-cell {
	background: #f9f9f9;
	border: 1px solid #e9e9e9;
	text-align: center;
	padding: 0.5em;
	box-sizing: border-box;
}

.grid-cell {
	border: 1px solid #f3f3f3;
	padding: 0.5em;
	box-sizing: border-box;
}

td.grid-cell input {
	border: none;
}
