/* CSS rules for prototype bike-ped count input app */

* {
	font-family:"Trebuchet MS","sans-serif";
}

#input_area_1 {
	margin-bottom: 10px;
}

.grid-table {
	border-collapse: collapse;
	border-spacing: 0;
}

.grid-row>.grid-cell {
	background: #fff;
}

.grid-cell {
	border: 1px solid #f3f3f3;
}

.grid-cell {
	padding: 0.5em;
}